body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    background-image: linear-gradient(black, white);
    background-image: url(Sinterklaas1.jpg);
    background-size: cover;
    background-position: 110vw;
    background-attachment: fixed;
    color: white;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

h1 {
    position: relative;
    font-size: 2.5em;
    place-items: center;
    font-weight: bolder;
    text-shadow: rgb(54, 54, 253) 2px 2px;
    margin-bottom: 0;
    text-decoration: underline;
}

h2 {
    margin-bottom: 0;
}

li {
    font-weight: bold;
    text-align: left;
}

a {
    text-decoration: none;
    margin: 2em;
    color: yellow;
    background: red;
    border: red solid 1px;
    border-radius: 1em;
    padding: 1em;
    box-shadow: rgb(255, 255, 0) 3px 3px;
}

div {
    color: black;
    background: white;
    padding: 1em;
    border: black solid 3px;
    border-radius: 1em;
}